.title {
    color: #999;
    font-weight: 100;
    font-family: 'Lato', Helvetica, sans-serif;
    font-size: 60px;
    margin-bottom: 40px;
    text-align: center;
    margin-top: 20%;
}
.title a {
    display: block;
    margin-top: 20px;
}
.title a:hover {
    text-decoration: none;
}